body{
    background-color: #A0D995;
    text-align: center;
}

.About{
    color: black;
    margin-top: 100px;
}

.about-us-img{
    width: 200px;
}

.heading{
    color: black;
    font-size: 100px;
    font-family: 'Edu TAS Beginner', cursive;
}

.land-img{
    width: 40%;
    margin: 10px auto 10 px auto;
}